<div class="navbar w-nav">
  <div class="container-2 w-container"><%= link_to image_tag("Ease-1.png", width: "86", class: "image"), root_path %></div>
  <% if signed_in? %>
  <%= link_to "Créer un tournoi", new_tournament_path, class: "link-2 hvr-ripple-in" %>
  <div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">Mon compte &#8964;</button>
    <div id="myDropdown" class="dropdown-content">
      <%= link_to 'Profil', show_path, class: "dropdown-link w-dropdown-link" %>
      <a href="#" class="dropdown-link-3 w-dropdown-link">Mes tournois</a>
      <%= link_to 'Déconnexion', sign_out_path, class: "dropdown-link-2 w-dropdown-link", method: :delete %>
    </div>
  </div>
  <% else %>
  <%= link_to "Inscription", sign_up_path, class: "link-2 hvr-ripple-in" %>
  <%= link_to 'Connexion', sign_in_path, class: "link-sign-in hvr-ripple-in" %>
  <% end %>
</div>
<div class='signup'>
  <div class="title"> <h1>INSCRIPTION</h1> </div>

  <br><br>


  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>


  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      <%= f.text_field :username, class: 'form-control', placeholder: "Nom d'utilisateur" %>
  </div>
  <br>

  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
      <%= f.email_field :email, class: 'form-control', placeholder: "Email" %>
  </div>
  <br>

  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
      <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: "Mot de passe (6 caractères minimum)"%>
  </div>
  <br>

  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: "Confirmation du mot de passe"%>
  </div>



  <br><br>

  <div class="actions">
    <%= f.submit "S'inscrire", class: 'btn' %>
  </div>
  <% end %>
  <br>
  <div class="links">
    <%= render "devise/shared/links" %>
  </div>
</div>