<div class="navbar w-nav">
	<div class="container-2 w-container"><%= link_to image_tag("Ease-1.png", width: "86", class: "image"), root_path %></div>
	<%= link_to "Créer un tournoi", new_tournament_path, class: "link-2custom hvr-ripple-in" %>
	<% if signed_in? %>
	<div class="dropdown">
<button onclick="myFunction()" class="dropbtn">Mon compte &#8964;</button>
  <div id="myDropdown" class="dropdown-content">
    <%= link_to 'Profil', show_path, class: "dropdown-link w-dropdown-link" %>
    <a href="#" class="dropdown-link-3 w-dropdown-link">Mes tournois</a>
    <%= link_to 'Déconnexion', sign_out_path, class: "dropdown-link-2 w-dropdown-link", method: :delete %>
  </div>
</div>
	<% else %>
	<%= link_to 'Connexion', sign_in_path, class: "link-sign-in hvr-ripple-in" %>
	<% end %>
</div>
<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
