<div class='form_new_t'>
  <%= form_with(model: tournament, local: true) do |form| %>
  <% if tournament.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(tournament.errors.count, "erreur") %> empêche ce tournoi d'être sauvegardé:</h2>

    <ul>
      <% tournament.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
      <%= form.text_field :title, id: :tournament_title, class: 'form-control', placeholder: "Titre" %>
  </div> 

  <br>

   <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
      <%= form.text_area :description, id: :tournament_description, class: 'form-control', placeholder: "Description" %>
  </div> 

<br>

  <div class="input-group">
    <%= form.label :Jeu, class: 'label' %>
    <%= form.select(:game) do %>
      <% [['Hearthstone', 1], ['League of Legends', 2]].each do |c| -%>
        <%= content_tag(:option, c.first, value: c.last) %>
      <% end %>
      <% {class: "dropdown_tag"} %>
    <% end %>
  </div>

  <br>


  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
      <%= form.text_field :place, id: :tournament_place, class: 'form-control', placeholder: "Lieu" %>
  </div> 

  <br>

  <div class="field">
    <%= form.label :date, class: 'label' %>
    <%= form.datetime_select :date, id: :tournament_date, class: "dropdown_tag" %>
  </div>

  <br>

  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-thumbs-up"></i></span>
      <%= form.number_field :maxPlayers, id: :tournament_maxPlayers, class: 'form-control', placeholder: "Nombre maximum de personnes" %>
  </div>

  <br>

  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-ruble"></i></span>
      <%= form.number_field :pricepool, id: :tournament_pricepool, class: 'form-control', placeholder: "Prix d'entrée" %>
  </div> 

  <br>

  <div class="actions">
    <%= form.submit 'Sauvegarder le tournoi', :class => 'btn' %>
  </div>
  <% end %>
</div>