<div class="navbar w-nav">
  <div class="container-2 w-container"><%= link_to image_tag("Ease-1.png", width: "86", class: "image"), root_path %></div>
  <% if signed_in? %>
  <%= link_to "Créer un tournoi", new_tournament_path, class: "link-2 hvr-ripple-in" %>
  <div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">Mon compte &#8964;</button>
    <div id="myDropdown" class="dropdown-content">
      <%= link_to 'Profil', show_path, class: "dropdown-link w-dropdown-link" %>
      <a href="#" class="dropdown-link-3 w-dropdown-link">Mes tournois</a>
      <%= link_to 'Déconnexion', sign_out_path, class: "dropdown-link-2 w-dropdown-link", method: :delete %>
    </div>
  </div>
  <% else %>
  <%= link_to "Inscription", sign_up_path, class: "link-2 hvr-ripple-in" %>
  <%= link_to 'Connexion', sign_in_path, class: "link-sign-in hvr-ripple-in" %>
  <% end %>
</div>

<div class='liste_tournoi'>

  <br>

  <div class="title"> <h1>Liste des tournois</h1> </div>

  <br><br><br>

  <table class='table'>
    <thead>
      <tr>
        <th class='tableau' scope='col'>Nom</th>
        <th class='tableau' scope='col'>Description</th>
        <th class='tableau' scope='col'>Créateur</th>
        <th class='tableau' scope='col'>Date</th>
        <th class='tableau' scope='col'>Prix d'entrée</th>
        <th class='tableau' colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @tournaments.each do |tournament| %>
      <tr class="ligne_tableau">
        <td class='tableau'><%= tournament.title %></td>
        <td class='tableau'><%= tournament.description %></td>
        <td class='tableau'><%= tournament.creator.username %></td>
        <td class='tableau'><%= tournament.date %></td>
        <td class='tableau'><%= tournament.pricepool %> euros</td>
        <td class='tableau'><%= link_to 'Détails', tournament, class: 'btn_tableau1'  %></td>
        <% if current_user == tournament.creator %>
        <td><%= link_to 'Editer', edit_tournament_path(tournament), class: 'btn_tableau2'  %></td>
        <td><%= link_to 'Supprimer', tournament, method: :delete, data: { confirm: 'Etes vous sûr ?' }, class: 'btn_tableau3' %></td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <div class="actions">
    <%= link_to 'Nouveau Tournoi', new_tournament_path, class: 'btn btn-submit' %>
  </div>
</div>