<div class='tournaments'>

  <br>

  <h1>Liste des tournois</h1>

  <br><br><br>

  <table class='table'>
    <thead>
      <tr>
        <th scope='col'>Titre</th>
        <th scope='col'>Déscription</th>
        <th scope='col'>Date</th>
        <th scope='col'>Prix d'entree</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @tournaments.each do |tournament| %>
      <tr>
        <td><%= tournament.title %></td>
        <td><%= tournament.description %></td>
        <td><%= tournament.date %></td>
        <td><%= tournament.pricepool %> euros</td>
        <td><%= link_to 'Voir', tournament, class: 'btn btn-info'  %></td>
        <% if current_user == tournament.creator %>
        <td><%= link_to 'Editer', edit_tournament_path(tournament), class: 'btn btn-primary'  %></td>
        <td><%= link_to 'Supprimer', tournament, method: :delete, data: { confirm: 'Etes vous sûr ?' }, class: 'btn btn-danger' %></td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Nouveau Tournoi', new_tournament_path, class: 'btn btn-submit' %>
</div>