<div class="navbar w-nav">
	<div class="container-2 w-container"><%= link_to image_tag("Ease-1.png", width: "86", class: "image"), root_path %></div>
	<% if signed_in? %>
	<%= link_to "Créer un tournoi", new_tournament_path, class: "link-2 hvr-ripple-in" %>
	<div class="dropdown">
		<button onclick="myFunction()" class="dropbtn">Mon compte &#8964;</button>
		<div id="myDropdown" class="dropdown-content">
			<%= link_to 'Profil', show_path, class: "dropdown-link w-dropdown-link" %>
			<%= link_to 'Liste des tournois', tournaments_path, class: "dropdown-link w-dropdown-link" %>
			<%= link_to 'Déconnexion', sign_out_path, class: "dropdown-link-2 w-dropdown-link", method: :delete %>
		</div>
	</div>
	<% else %>
	<%= link_to "Inscription", sign_up_path, class: "link-2 hvr-ripple-in" %>
	<%= link_to 'Connexion', sign_in_path, class: "link-sign-in hvr-ripple-in" %>
	<% end %>
</div>

<div class='signup'>
	<div class="title"> <h1>Création d'un tournoi</h1> </div>

	<br><br>

	<%= render 'form', tournament: @tournament %>

	<br>
	
	<div class="links">
		<%= link_to 'Retour', tournaments_path %>
	</div>
</div>