<div class='new_tournament'>
	<p id="notice"><%= notice %></p>

	<h1><%= @tournament.title %></h1>

	<br><br>

	<p><%= @tournament.description %></p>

	<p><%= @tournament.date %></p>

	<p>
		<strong>Prix:</strong>
		<%= @tournament.pricepool %>
	</p>

	<br>

	<%= link_to 'Editer', edit_tournament_path(@tournament) %>
	<%= link_to 'Retour', tournaments_path %>
</div>