<head>
	<title>Tournament Bracket Generator</title>
	<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
	<script src="http://underscorejs.org/underscore-min.js"></script>
	<style type="text/css">
			/*
 *  Flex Layout Specifics
 */
 main{
 	display:flex;
 	flex-direction:row;
 	justify-content: center;
 }
 .round{
 	display:flex;
 	flex-direction:column;
 	align-items: center;
 	width:200px;
 	list-style:none;
 	padding:0;
 }
 .round .spacer{ flex-grow:1; }
 .round .spacer:first-child,
 .round .spacer:last-child{ flex-grow:.5; }

 .round .game-spacer{
 	flex-grow:1;
 }

/*
 *  General Styles
 */
 body{
 	font-family:sans-serif;
 	font-size:small;
 	line-height:1.4em;
 }

 li.game{
 	color: white;
 }

 li.game.winner{
 	font-weight:bold;
 	color: orange;
 }
 li.game span{
 	float:right;
 	margin-right:5px;
 }

 li.game-top { 
 	border-bottom:1px solid #000; 
 }

 li.game-spacer{ 
 	border-right:1px solid #000;
 	min-height:40px;
 }

 li.game-bottom{ 
 	border-top:1px solid #000;
 }

 .btn {
 	color: white;
 	font-size: 14px;
 	background: #111;
 }
 .btn:hover {
 	color: white;
 }

 .link {
 	text-decoration: none;
 	margin-left: 48.5%;
 	color: white;
 	font-size: 20px;
 }
 .link:hover {
 	color: white;
 }

 p {
 	color: white;
 }

 h1, h2, h3 {
 	color: white;
 	text-align: center;
 }

</style>
</head>
<body>
<div class="navbar w-nav">
	<div class="container-2 w-container"><%= link_to image_tag("Ease-1.png", width: "86", class: "image"), root_path %></div>
	<%= link_to "Créer un tournoi", new_tournament_path, class: "link-2custom hvr-ripple-in" %>
	<% if signed_in? %>
	<div class="dropdown">
<button onclick="myFunction()" class="dropbtn">Mon compte &#8964;</button>
  <div id="myDropdown" class="dropdown-content">
    <%= link_to 'Profil', show_path, class: "dropdown-link w-dropdown-link" %>
    <a href="#" class="dropdown-link-3 w-dropdown-link">Mes tournois</a>
    <%= link_to 'Déconnexion', sign_out_path, class: "dropdown-link-2 w-dropdown-link", method: :delete %>
  </div>
</div>
	<% else %>
	<%= link_to 'Connexion', sign_in_path, class: "link-sign-in hvr-ripple-in" %>
	<% end %>
</div>
	
	<div class='tabs'>

		<h1><%= @tournament.title %></h1>

		<h3 class='center'><%= @tournament.description %></h3>

		<br>

		
		<% if !(@tournament.vainqueur.nil?) %>
		
		<h1>Vainqueur : <%= @tournament.vainqueur %></h1>
		
		<% else %>

		<div class='table'>
			<div class='header'>
				<h3 class='btn btn-infos'>Infos</h3>
				<h3 class='btn btn-participants'>Participants</h3>
				<h3 class='btn btn-prix'>Repartition des prix</h3>
				<h3 class='btn btn-bracket'>Bracket</h3>
			</div>

			<hr>

			<div class='infos'>
				<p>Createur : <%= @tournament.creator.username %></p>
				<p>Date : <%= @tournament.date %></p>
				<p>Prix : <%= @tournament.pricepool %> euros</p>
				<p>Nombre de participants : <%= @tournament.participants.length %> / <%= @tournament.maxPlayers %> </p>
			</div>
			<div class='participants'>
				<% @tournament.participants.each do |member| %>
				<p><%= member.username %></p>
				<% end %>
			</div>
			<div class='prix'>
				<% if @prix.length == 1 %>
				<p>1er : <%= @prix[0] %></p>
				<% else %>
				<p>1er : <%= @prix[0] %></p>
				<p>2eme : <%= @prix[1] %></p>
				<% end %>
			</div>
			<div class='bracket'>
				<main id="tournament">
					<% @index = 0 %>

					<ul class='round'>
						<% while (@length - @base > 0) do %>
						
						<% @this_match = Match.find_by(joueur1: @team[@index], joueur2: @team[@index+1]) %>
						
						<li class="spacer">&nbsp;</li>

						<% unless @this_match.nil? %>
						<% if !(@this_match.statut) && @this_match.winner1 == @team[@index] %>
						<li class="game game-top winner"><%= @team[@index] %></li>
						<% else %>
						<li class="game game-top"><%= @team[@index] %></li>
						<% end %>
						<% @index += 1 %>

						<li class="game game-spacer">&nbsp;</li>

						<% if !(@this_match.statut) && @this_match.winner1 == @team[@index] %>
						<li class="game game-bottom winner"><%= @team[@index] %></li>
						<% else %>
						<li class="game game-bottom"><%= @team[@index] %></li>
						<% end %>
						<% else %>
						<li class="game game-top"><%= @team[@index] %></li>
						<% @index += 1 %>
						<li class="game game-spacer">&nbsp;</li>
						<li class="game game-bottom"><%= @team[@index] %></li>
						<% end %>

						<li class="spacer">&nbsp;</li>
						
						<% if @this_match.nil? %>
						<% Match.create(joueur1: @team[@index-1], joueur2: @team[@index], tournament: @tournament) %>
						<% else %>
						<% if !(@this_match.winner1.nil?) && (@this_match.winner1 == @this_match.winner2) %>
						<% u = User.find_by(username: @this_match.winner1) %>
						<% if u.points == 0 %>
						<% u.points += 1 %>
						<% @this_match.statut = false %>
						<% u.save %>
						<% @this_match.save %>
						<% end %>
						<% end %>
						<% end %>
						<% @length -= 1 %>
						<% @index += 1 %>
						<% end %>

						<% while @index < @tournament.participants.length %>
						<li class="spacer">&nbsp;</li>

						<li class="game game-top winner"><%= @team[@index] %></li>
						<% u = User.find_by(username: @team[@index]) %>
						<% if u.points == 0 %>
						<% u.points += 1 %>
						<% u.save %>
						<% end %>
						<% @index += 1 %>
						<li class="game game-spacer">&nbsp;</li>
						<li class="game game-bottom">Casper</li>

						<li class="spacer">&nbsp;</li>
						<% end %>
					</ul>

					<% @rounds -= 1 %>
					<% @points_necessaires = 1 %>

					<% while (@rounds > 0) %>
					<ul class="round">
						<% @indice = 2**(@rounds-1) %>
						<% @test = 0 %>
						<% @team.each do |user| %>
						<% if User.find_by(username: user).points >= @points_necessaires %>
						<% if @test % 2 == 0  %>
						<li class="spacer">&nbsp;</li>
						<% if User.find_by(username: user).points >= @points_necessaires %>
						<li class="game game-top winner"><%= user %></li>
						<% else %>
						<li class="game game-top"><%= user %></li>
						<% end %>
						<% @save = user %>
						<% @test += 1 %>
						<% else %>
						<li class="game game-spacer">&nbsp;</li>

						<% if User.find_by(username: user).points > @points_necessaires %>
						<li class="game game-bottom winner"><%= user %></li>
						<% else %>
						<li class="game game-bottom "><%= user %></li>
						<% end %>
						<li class="spacer">&nbsp;</li>
						<% @indice -= 1 %>
						<% @test += 1 %>

						<% @this_match = Match.find_by(joueur1: @save, joueur2: user) %>
						<% if @this_match.nil? %>
						<% Match.create(joueur1: @save, joueur2: user, tournament: @tournament) %>
						<% else %>
						<% if !(@this_match.winner1.nil?) && (@this_match.winner1 == @this_match.winner2) %>
						<% u = User.find_by(username: @this_match.winner1) %>
						<% if u.points == @points_necessaires %>
						<% u.points += 1 %>
						<% @this_match.statut = false %>
						<% u.save %>
						<% @this_match.save %>
						<% end %>
						<% end %>
						<% end %>

						<% end %>
						<% end %>
						<% end %>
						<% while @indice > 0 %>
						<% if @test % 2 == 0  %>
						<li class="spacer">&nbsp;</li>
						<li class="game game-top">undefined</li>
						<% @test += 1 %>
						<% else %>
						<li class="game game-spacer">&nbsp;</li>
						<li class="game game-bottom ">undefined</li>
						<li class="spacer">&nbsp;</li>
						<% @indice -= 1 %>
						<% @test += 1 %>
						<% end %>
						<% end %>
					</ul>
					<% @points_necessaires += 1 %>
					<% @rounds -= 1 %>
					<% end %>
				</main>
			</div>
		</div>
	</div>

	<br><br>

	<% if signed_in? && !(@tournament.participants.include?(current_user)) && @tournament.date >= Time.now %>
	<div class="actions">
		<%= link_to 'Participer', suscribe_tournament_path(@tournament), method: :post, class: 'btn btn-primary' %>
	</div>
	<% elsif @tournament.participants.include?(current_user) %>
	<% unless @match.nil? %>
	<% if (current_user.username == @match.joueur1 && @match.winner1.nil?) || (current_user.username == @match.joueur2 && @match.winner2.nil?) %>
	<div class="actions">
		<%= link_to 'Voir mon prochain match', @match, class: 'btn btn-primary' %>
	</div>
	<% else %>
	<p>Vous avez deja indique le nom du vainqueur, veuillez attendre la reponse de votre adversaire.</p>
	<% end %>
	<% end %>
	<% if Time.now < @tournament.date %>
	<div class="actions">
		<%= link_to 'Se desinscrire', unsuscribe_tournament_path(@tournament), method: :post, class: 'btn btn-danger' %>
	</div>
	<% end %>
	<% end %>

	<% end %>

	<br><br>
	
	<div class="actions">
		<%= link_to "Retour", '/tournaments', class: 'btn' %>
	</div>
</body>
