<div class="navbar w-nav">
	<div class="container-2 w-container"><%= image_tag "Ease-1.png", width: "86", class: "image" %></div>
	<%= link_to "Créer un tournoi", new_tournament_path, class: "link-2 hvr-ripple-in" %>
	<% if signed_in? %>
	<div data-delay="300" class="dropdown w-clearfix w-dropdown">
		<div class="dropdown-toggle w-dropdown-toggle">
			<div class="icon w-icon-dropdown-toggle"></div>
			<div class="text-block-3">Mon compte</div>
		</div>
		<nav class="dropdown-list w-dropdown-list"><%= link_to 'Profil', show_path, class: "dropdown-link w-dropdown-link" %><a href="#" class="dropdown-link-3 w-dropdown-link">Mes tournois</a><%= link_to 'Déconnexion', sign_out_path, class: "dropdown-link-2 w-dropdown-link", method: :delete %></nav>
	</div>
	<% else %>
	<%= link_to 'Connexion', sign_in_path, class: "link-sign-in hvr-ripple-in" %>
	<% end %>
</div>
<div class="container w-container">
	<div class="section-2">
		<%= video_tag 'fond.mp4', id: 'myVideo', autoplay: :autoplay, loop: :loop %>
		<h1 class="heading"><strong class="bold-text">EASE</strong></h1>
		<div>
			<div class="text-block-4">Crée tes compétitions</div>
			<div class="text-block">Deviens un champion</div>
		</div>
	</div>
</div>
<div class="w-container"><%= image_tag "954HX2WHHUTY1400722573052.jpg", sizes:"(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px", class: "image-4" %></div>
<div class="section-4"><%= image_tag "Ease-2.png", width: "101", class: "image-9" %><%= image_tag "Ease-4.png", class: "image-8" %><%= image_tag "Ease-3.png", width: "107", class: "image-7" %></div>
<div class="section-5">
	<div class="text-block-5">This is some text inside of a div block.</div>
	<div class="text-block-7">This is some text inside of a div block.</div>
	<div class="text-block-8">This is some text inside of a div block.</div>
</div>

<div class="section-6">
	<h1 class="heading-6">Les jeux disponibles</h1>
	<div class="container-5 w-container">
		<%= image_tag "LOL.png", width: "350", height: "160", sizes: "(max-width: 479px) 100vw, 350px", class: "image-10", id: "imagejeu1" %>
		<%= image_tag "HS.png", width: "350", height: "170", sizes: "(max-width: 479px) 100vw, (max-width: 991px) 361.8875732421875px, 350px", class: "image-11", id: "imagejeu2" %>
	</div>
</div>
<div class="section-7">
	<div class="text-block-10">This is some text inside of a div block.</div>
	<div class="text-block-9">This is some text inside of a div block.</div>
</div>
<div class="section-8">
	<h2 class="heading-7">Rejoins la newsletter</h2>
	<div class="w-container">
		<div class="text-block-11">Inscris toi pour être informé des nouvelles fonctionnalités Ease</div>
		<div class="w-form">
			<form id="email-form" name="email-form" data-name="Email Form"><label for="email" class="field-label-2">Email Address:</label><input type="text" class="w-input" maxlength="256" name="email" data-name="Email" placeholder="Enter your email" id="email" required=""><input type="submit" value="Submit" data-wait="Please wait..." class="w-button"></form>
			<div class="w-form-done">
				<div>Thank you! Your submission has been received!</div>
			</div>
			<div class="w-form-fail">
				<div>Oops! Something went wrong while submitting the form.</div>
			</div>
		</div>
	</div>
	<div class="container-8 w-container">
		<div class="footer-8">
			<h5 class="heading-10">À propos de nous</h5>
			<div class="text-block-15">Nous sommes une petite équipe de trois jeunes codeurs qui voulons aider les joueurs de esport lambda, comme nous, à développer une scène compétitrice sur des jeux qui nous tiennent à coeur. Pour nous envoyer des idées n'hésitez pas à aller sur la page <b>Contact</b> !</div>
		</div>
		<div>
			<h5 class="heading-11">Heading</h5>
			<div class="text-block-14">This is some text inside of a div block.</div>
		</div>
	</div>
</div>
<div class="section-9">
	<div class="text-block-16">© Ease 2018</div>
	<div class="text-block-17">Made with THP knowledge and <i class="em em-hearts"></i></div>
</div>
<script type="text/javascript">

	function bannerMoveDown(){
		$("#imagejeu1").animate({bottom:'-=7px'}, 2000, 'swing');
		$("#imagejeu2").animate({bottom:'-=7px'}, 3000, 'swing', bannerMoveUp);
	}
	function bannerMoveUp(){
		$("#imagejeu1").animate({bottom:'+=7px'}, 3000, 'swing');
		$("#imagejeu2").animate({bottom:'+=7px'}, 2000, 'swing', bannerMoveDown);
	}

	bannerMoveDown();

</script>
