<div class='landing'>
	<div class='landing1'>
		<div class="topnav1" id="myTopnav">
			<div class="right-nav">
				<a id='logo1' href="/" class="active"><b>EASE</b></a>
			</div>
			<div class="left-nav1">
				<% if signed_in? %>
				<%= link_to 'LISTE DES TOURNOIS', '/tournaments' %>
				<%= link_to 'CREATION TOURNOI', new_tournament_path %>
				<% end %>
				<a href="#news"><b>NEWS</b></a>
				<a href="#contact"><b>CONTACT</b></a>
				<a href="#about"><b>ABOUT</b></a>
			</div>
			<div class='end-nav1'>
				<% if signed_in? %>
				<li class="dropdown">
					<a href="#" class='dropdown-toggle' data-toggle="dropdown">Mon compte&nbsp;<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><%= link_to "Profil", show_path %></li>
						<li class="divider">|</li>
						<li> <%= link_to "Déconnexion", destroy_user_session_path, method: :delete %> </li>
					</ul>
				</li>
				<% else %>
				<%= link_to "INSCRIPTION", '/sign_up', class: 'sign_up' %>
				<%= link_to "CONNEXION", '/sign_in', class: 'sign_in' %>
				<% end %>
			</div>
		</div>
		<%= link_to "INSCRIPTION", '/sign_up', class: 'sign_up' %>
		<%= link_to "CONNEXION AVEC FACEBOOK", user_facebook_omniauth_authorize_path , class: 'sign_in' %>
		<h1>Cree tes propres competitions !</h1>
		<br>
		<p>Regroupe tes amis pour creer tes propres competitions.</p>
		<p>Choisissez le montant de la somme mis en jeu ou bien jouez juste pour le fun !</p>
		<br>
		<div id="presentation">
			<%= image_tag "courbe.png", id: 'img-presentation' %>
			<%= image_tag "Random-turtle.gif", id: 'img-presentation2' %>
			<%= image_tag "courbe.png", id: 'img-presentation3' %>
		</div>
	</div>

	<div class='landing2'>
		<h1>Les jeux disponibles</h1>
		<div class='jeux'>
			<%= image_tag 'LOL.png' %>
			<%= image_tag 'HS.png' %>
		</div>
	</div>

	<div class='landing3'>
		<div class='landing3-left'>
			<h2>Profitez de nos interfaces !</h2>
			<br>
			<p>Lors de vos tournois, vous pourrez acceder a nos interfaces en ligne pour mener a bien votre competition.</p>
		</div>

		<div class='landing3-right'>
			<%= image_tag 'Random-turtle.gif', class: 'landing3img' %>
		</div>
	</div>

	<div class='landing4'>
		<div class='landing4-left'>
			<%= image_tag 'Random-turtle.gif', class: 'landing4img' %>
		</div>

		<div class='landing4-right'>
			<h2>La competition avant tout !</h2>
			<br>
			<p>Ameliore toi et gagne de l'experience pour progresser dans nos leagues.</p>
			<p>Suis ton classement national et celui de tes amis !</p>
		</div>
	</div>

	<div class='landing5'>
		<div class='landing3-left'>
			<h1>SHOP</h1>
			<br>
			<p>Decouvrez notre boutique et achetez de nombreux cadeaux avec vos points gagnes lors des tournois.</p>
		</div>
		<div class='landing3-right'>
			<%= image_tag "Random-turtle.gif", class: 'landing3img' %>
		</div>
	</div>
</div>

<script type="text/javascript">
	var duration = 2700;
	var duration2 = 2200;
	var duration3 = 3400;

	function bannerMoveDown(){
		$("#img-presentation").animate({top:'-=6px'}, duration, 'swing');
		$("#img-presentation3").animate({top:'-=8px'}, duration3, 'swing');
		$("#img-presentation2").animate({top:'-=3px'}, duration2, 'swing', bannerMoveUp);
	}
	function bannerMoveUp(){
		$("#img-presentation").animate({top:'+=6px'}, duration, 'swing');
		$("#img-presentation3").animate({top:'+=8px'}, duration3, 'swing');
		$("#img-presentation2").animate({top:'+=3px'}, duration2, 'swing', bannerMoveDown);
	}
	bannerMoveUp();
</script>
