<div class="navbar w-nav">
	<div class="container-2 w-container"><%= link_to image_tag("Ease-1.png", width: "86", class: "image"), root_path %></div>
	<% if signed_in? %>
	<%= link_to "Créer un tournoi", new_tournament_path, class: "link-2 hvr-ripple-in" %>
	<div class="dropdown">
		<button onclick="myFunction()" class="dropbtn">Mon compte &#8964;</button>
		<div id="myDropdown" class="dropdown-content">
			<%= link_to 'Profil', show_path, class: "dropdown-link w-dropdown-link" %>
			<a href="#" class="dropdown-link-3 w-dropdown-link">Mes tournois</a>
			<%= link_to 'Déconnexion', sign_out_path, class: "dropdown-link-2 w-dropdown-link", method: :delete %>
		</div>
	</div>
	<% else %>
	<%= link_to "Inscription", sign_up_path, class: "link-2 hvr-ripple-in" %>
	<%= link_to 'Connexion', sign_in_path, class: "link-sign-in hvr-ripple-in" %>
	<% end %>
</div>
<div class="container w-container">
	<div class="section-2">
		<%= video_tag 'fond.mp4', id: 'myVideo', autoplay: :autoplay, loop: :loop %>
		<h1 class="heading"><strong class="bold-text">EASE</strong></h1>
		<div>
			<div class="text-block-4">Crée tes compétitions</div>
			<div class="text-block">Deviens un champion</div>
		</div>
	</div>
</div>
<div class="w-container"><%= image_tag "954HX2WHHUTY1400722573052.jpg", sizes:"(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px", class: "image-4" %></div>
<div class="section-4"><%= image_tag "Ease-2.png", width: "101", class: "image-9" %><%= image_tag "Ease-4.png", class: "image-8" %><%= image_tag "Ease-3.png", width: "107", class: "image-7" %></div>
<div class="section-5">
	<div class="text-block-5">Joue avec des joueurs près de chez toi ou à l'autre bout du monde. Ease te permet de créer des compétitions partout dans le monde et de localiser précisemment le lieu du déroulement.</div>
	<div class="text-block-7">Affine ta stratégie, gagne des championnats et deviens le meilleur.</div>
	<div class="text-block-8">Crée des tournois avec tes amis, met en jeu des trophés, des cadeaux trop cool ou affrontez vous simplement pour vous amuser et enfin savoir qui est le meilleur.</div>
</div>

<div class="section-6">
	<h1 class="heading-6">Les jeux disponibles</h1>
	<div class="container-5 w-container">
		<%= image_tag "LOL.png", width: "350", height: "160", sizes: "(max-width: 479px) 100vw, 350px", class: "image-10", id: "imagejeu1" %>
		<%= image_tag "HS.png", width: "350", height: "170", sizes: "(max-width: 479px) 100vw, (max-width: 991px) 361.8875732421875px, 350px", class: "image-11", id: "imagejeu2" %>
	</div>
</div>
<div class="section-7">
	<div class="text-block-10"> </div>
	<div class="text-block-9"> </div>
</div>
<div class="section-8">
	<h2 class="heading-7">Rejoins la newsletter</h2>
	<div class="w-container">
		<div class="text-block-11">Inscris toi pour être informé des nouvelles fonctionnalités Ease</div>

		<br>

		<div class="w-form">
			<a href="/index/mail" class="w-button" type="submit" data-wait="Attendez un instant..." style="margin-left:43%;">Rejoignez nous !</a>
			<div class="w-form-done">
				<div>Merci, vous êtes bien inscrit à la newslatter !</div>
			</div>
			<div class="w-form-fail">
				<div>Adresse email incorrecte.</div>
			</div>
		</div>
	</div>
	<div class="container-8 w-container">
		<div class="footer-8">
			<h5 class="heading-10">À propos de nous</h5>

			<div class="text-block-15">Nous sommes une petite équipe de trois jeunes codeurs qui voulons aider les joueurs de esport lambda, comme nous, à développer une scène compétitive sur des jeux qui nous tiennent à coeur. Pour nous envoyer des idées n'hésitez pas à aller sur la page <b>Contact</b> !</div>
		</div>
	</div>
</div>

<div class="section-9">
	<div class="text-block-16">© Ease 2018</div>
	<div class="text-block-17">Made with THP knowledge and <i class="em em-hearts"></i></div>
</div>
<script type="text/javascript">
	function loopDown(){
		$('#imagejeu2').animate({ marginTop : -20}, 1000);
		$("#imagejeu1").animate({ marginTop : 20 }, 1000, function() { loopUp(); });
	}

	function loopUp(){
		$('#imagejeu2').animate({ marginTop : 0}, 1000);
		$("#imagejeu1").animate({ marginTop : 0 }, 1000, function() { loopDown(); });
	}

	loopDown();

</script>
