<div class='landing1'>
	<h1>Cree tes propres competitions !</h1>
	<br>
	<p>Regroupe tes amis pour creer tes propres competitions.</p>
	<p>Choisissez le montant de la somme mis en jeu ou bien jouez juste pour le fun !</p>
	<%= image_tag "Random-turtle.gif", class: 'presentation' %>
</div>

<div class='landing2'>
	<h1>Les jeux disponibles</h1>
	<div class='jeux'>
		<%= image_tag 'LOL.png' %>
		<%= image_tag 'HS.png' %>
	</div>
</div>

<div class='landing3'>
	<div class='landing3-left'>
		<h2>Profitez de nos interfaces !</h2>
		<br>
		<p>Lors de vos tournois, vous pourrez acceder a nos interfaces en ligne pour mener a bien votre competition.</p>
	</div>

	<div class='landing3-right'>
		<%= image_tag 'Random-turtle.gif', class: 'landing3img' %>
	</div>
</div>

<div class='landing4'>
	<div class='landing4-left'>
		<%= image_tag 'Random-turtle.gif', class: 'landing4img' %>
	</div>

	<div class='landing4-right'>
		<h2>La competition avant tout !</h2>
		<br>
		<p>Ameliore toi et gagne de l'experience pour progresser dans nos leagues.</p>
		<p>Suis ton classement national et celui de tes amis !</p>
	</div>
</div>

<div class='landing5'>
	<div class='landing5-left'>
		<h1>SHOP</h1>
	</div>
	<div class='landing5-right'>
		<%= image_tag "Random-turtle.gif", class: 'landing3img' %>
	</div>
</div>