<div class="navbar w-nav">
  <div class="container-2 w-container"><%= image_tag "Ease-1.png", width: "86", class: "image" %></div>
  <%= link_to "Créer un tournois", new_tournament_path, class: "link-2 hvr-ripple-in" %>
  <% if signed_in? %>
  <div data-delay="300" class="dropdown w-clearfix w-dropdown">
    <div class="dropdown-toggle w-dropdown-toggle">
      <div class="icon w-icon-dropdown-toggle"></div>
      <div class="text-block-3">Mon compte</div>
    </div>
    <nav class="dropdown-list w-dropdown-list"><%= link_to 'Profil', show_path, class: "dropdown-link w-dropdown-link" %><a href="#" class="dropdown-link-3 w-dropdown-link">Mes tournois</a><%= link_to 'Déconnexion', sign_out_path, class: "dropdown-link-2 w-dropdown-link", method: :delete %></nav>
  </div>
  <% else %>
   <%= link_to 'Connexion', sign_in_path, class: "link-sign-in hvr-ripple-in" %>
  <% end %>
 </div>
<div class='signup'>
  <h1>CONNEXION</h1>

  <%= form_for(resource, as: resource_name, url: sign_in_path) do |f| %>
  <div class="field">
    <%= f.label :email, class: 'label' %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label 'Mot de passe', class: 'label' %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
  <div class="field">
    <%= f.check_box :remember_me %>
    <%= f.label 'Se souvenir de moi', class: 'label' %>
  </div>
  <% end -%>

  <br>

  <div class="actions">
    <%= f.submit "Se connecter", class: 'btn' %>
  </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>