<div class="navbar w-nav">
	<div class="container-2 w-container"><%= link_to image_tag("Ease-1.png", width: "86", class: "image"), root_path %></div>
	<% if signed_in? %>
	<%= link_to "Créer un tournoi", new_tournament_path, class: "link-2 hvr-ripple-in" %>
	<div class="dropdown">
		<button onclick="myFunction()" class="dropbtn">Mon compte &#8964;</button>
		<div id="myDropdown" class="dropdown-content">
			<%= link_to 'Profil', show_path, class: "dropdown-link w-dropdown-link" %>
			<%= link_to 'Liste des tournois', tournaments_path, class: "dropdown-link w-dropdown-link" %>
			<%= link_to 'Déconnexion', sign_out_path, class: "dropdown-link-2 w-dropdown-link", method: :delete %>
		</div>
	</div>
	<% else %>
	<%= link_to "Inscription", sign_up_path, class: "link-2 hvr-ripple-in" %>
	<%= link_to 'Connexion', sign_in_path, class: "link-sign-in hvr-ripple-in" %>
	<% end %>
</div>
<div class="container-9 w-container">
	<div class="div-block-2">
		<h1 class="heading-12"><%= current_user.username unless current_user.username.nil? %></h1><%= image_tag(current_user.photo, size: "160x160", class: 'user-photo') unless current_user.photo.nil? %></div>
		<div class="section-11"></div>
		<div class="section-13">
			<h2 class="heading-13">Détails</h2>
			<div>
				<ul class="unordered-list w-list-unstyled">
					<li class="list-item-8"></li>
					<li class="list-item">Email : <span class="aligned-attributes"><%= current_user.email %></span></li>
					<li class="list-item-6"></li>
					<li class="list-item-2">Adresse : <span class="aligned-attributes"><%= current_user.street unless current_user.street.nil? %></span></li>
					<li class="list-item-5"></li>
				</ul>
			</div>
			<ul class="unordered-list-2 w-list-unstyled">
				<li class="list-item-3">Ville : <span class="aligned-attributes"><%= current_user.city unless current_user.city.nil? %></span></li>
				<li class="list-item-7"></li>
				<li class="list-item-4">Pays : <span class="aligned-attributes"><%= current_user.country unless current_user.country.nil? %></span></li>
			</ul>
			<h2 class="heading-14">Votre description</h2>
			<div class="div-block-3"></div>
			<div class="text-block-20"><%= current_user.description unless current_user.description.nil? %></div>
		<div class="edition">
		<%= link_to 'Édite ton profil', edit_user_registration_path, class: 'link-4' %>
	</div>
