<%= form_with(model: match, local: true) do |form| %>
  <% if match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="vainqueur">
    <%= form.label :Vainqueur, class: 'label' %>
    <% if current_user.username == @match.joueur1 %>
    <div class="nom_joueur">
    <%= form.select(:winner1) do %>
      <% [[@match.joueur1, @match.joueur1], [@match.joueur2, @match.joueur2]].each do |c| -%>
        <%= content_tag(:option, c.first, value: c.last) %>
      <% end %>
    <% end %>
  </div>
    <% else %>
    <div class="nom_joueur">
    <%= form.select(:winner2) do %>
      <% [[@match.joueur1, @match.joueur1], [@match.joueur2, @match.joueur2]].each do |c| -%>
        <%= content_tag(:option, c.first, value: c.last) %>
      <% end %>
    <% end %>
  </div>
    <% end %>
    <br>


  <div class="actions">
    <%= form.submit "Match terminé", class: 'btn' %>
  </div>
<% end %>
