<head>
	<style type="text/css">
	h1 {
		color: white;
	}
</style>
</head>

<body>
<div class="navbar w-nav">
	<div class="container-2 w-container"><%= link_to image_tag("Ease-1.png", width: "86", class: "image"), root_path %></div>
	<% if signed_in? %>
	<%= link_to "Créer un tournoi", new_tournament_path, class: "link-2 hvr-ripple-in" %>
	<div class="dropdown">
		<button onclick="myFunction()" class="dropbtn">Mon compte &#8964;</button>
		<div id="myDropdown" class="dropdown-content">
			<%= link_to 'Profil', show_path, class: "dropdown-link w-dropdown-link" %>
			<%= link_to 'Liste des tournois', tournaments_path, class: "dropdown-link w-dropdown-link" %>
			<%= link_to 'Déconnexion', sign_out_path, class: "dropdown-link-2 w-dropdown-link", method: :delete %>
		</div>
	</div>
	<% else %>
	<%= link_to "Inscription", sign_up_path, class: "link-2 hvr-ripple-in" %>
	<%= link_to 'Connexion', sign_in_path, class: "link-sign-in hvr-ripple-in" %>
	<% end %>
</div>
	<p id="notice"><%= notice %></p>

	<div class="title2">
	<% if current_user.username == @match.joueur1 %>
	<h1><%= current_user.username %> VS <%= @match.joueur2 %></h1>
	<% else %>
	<h1><%= current_user.username %> VS <%= @match.joueur1 %></h1>
	<% end %>
</div>
<br><br>

<%= render 'form', match: @match %>

</body>