<!DOCTYPE html>
<html>
<%= render 'layouts/head' %>
<body>
  <%= render 'layouts/header' %>
  <% flash.each do |message_type, message| %>
  <div id='myAlert' class="alert fade">
    <%= message %>
  </div>
  <% end %>
  <%= yield %>
  <%= debug(params) if Rails.env.development? %>
  <%= render 'layouts/footer' %>
  <%= render 'layouts/flash' %>
</body>
</html>
